<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tpServletJspJstl</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>initCatalogue</servlet-name>
    <servlet-class>fr.shopping.servlet.InitCatalogue</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>initCatalogue</servlet-name>
    <url-pattern>/InitCatalogue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>afficheCatalogueJSP</servlet-name>
    <servlet-class>fr.shopping.servlet.AfficheCatalogueJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afficheCatalogueJSP</servlet-name>
    <url-pattern>/AfficheCatalogueJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>afficheCatalogueJSTL</servlet-name>
    <servlet-class>fr.shopping.servlet.AfficheCatalogueJSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afficheCatalogueJSTL</servlet-name>
    <url-pattern>/AfficheCatalogueJSTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>afficheProduit</servlet-name>
    <servlet-class>fr.shopping.servlet.AfficheProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afficheProduit</servlet-name>
    <url-pattern>/AfficheProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajouteAuPanier</servlet-name>
    <servlet-class>fr.shopping.servlet.AjouteAuPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouteAuPanier</servlet-name>
    <url-pattern>/AjouteAuPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>affichePanier</servlet-name>
    <servlet-class>fr.shopping.servlet.AffichePanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>affichePanier</servlet-name>
    <url-pattern>/AffichePanier</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>videPanier</servlet-name>
    <servlet-class>fr.shopping.servlet.VidePanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videPanier</servlet-name>
    <url-pattern>/VidePanier</url-pattern>
  </servlet-mapping>
  
  
  <!-- Utilisation de l'anglais comme Locale par défaut -->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
		<param-value>fr</param-value>
	</context-param>
  
</web-app>